h3 #{lift.equip} #{lift.liftname}
if(lift.liftdate != null)
  p  Last Lift Date: #{lift.liftdate}
  p  Weight Used: #{lift.weight}
  p  Reps Completed: #{lift.rep_count}
else
  p No Lifts Logged
button Add To Workout
if(log_privilege === "true")
  form(method='get', action='/log')
    input(type="hidden", name="lift_id", value=lift.wkout_id)
    input(type="hidden", name="equip_id", value=lift.equip_id)
    button(type='submit') Log a Lift